<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/login.css">   

</head>
<body style="background-color: #8ca8c6;">
    <div class="msg">
        <h2 style="padding-top: 40px;">Thank you for Your Register!</h2>
        <p style="padding-top: 20px; font-size: 15px;">Click here to active account : <a href="/password?id=<%=result.id%>&accesskey=<%=result.access_key%>">http://localhost:9090/password?id=<%=result.id%>&accesskey=<%=result.access_key%>"</a></p>
    </div>
</body>
</html>