<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            background-color: rgb(140, 166, 176);
        }

        h2 {
            text-align: center;
            color: rgb(38, 30, 30);
            font-size: 35px;
            text-shadow: 2px 2px rgb(247, 233, 233);
            font-style: italic;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h2::selection {
            background-color: rgb(182, 182, 215);
        }

        table {
            border: 2px solid black;
            border-collapse: collapse;
            margin: auto;
        }

        td {
            border: 2px solid black;
            padding: 40px 50px;
            text-align: center;
        }

        th {
            padding: 20px;
            text-align: center;
            font-size: 18px;
        }
        a{

            color: black;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h2>Tasks</h2>
    <table>
        <tr>
            <th colspan="5">Javascript</th>
        </tr>
        <tr>
            <td><a href="/jstask/dynamic">Dynamic box</a></td>
            <td><a href="/jstask/kukucube">Kukucube</a></td>
            <td><a href="/jstask/tic">Tic-tac-toe</a></td>
            <td><a href="/jstask/events">Events</a></td>
            <td><a href="/jstask/sorting">Sorting</a></td>
        </tr>
        <tr>
            <th colspan="5">Pagination</th>
        </tr>
        <tr>
            <td colspan="2"><a href="/pagination/student_list">Students_master<br> List (with sorting)</a></td>
            <td><a href="/pagination/attendance_report">attendance report</a></td>
            <td><a href="/pagination/exam_report">Exam_report</a></td>
            <td><a href="/pagination/dynamic_grid">Dynamic grid</a></td>
        </tr>
        <tr>
            <th colspan="5">Searching</th>
        </tr>
        <tr>
            <td colspan="3"><a href="/search/searching">Searching <br>(id or any details)</a></td>
            <td colspan="2"><a href="/search/delimeter_search">Delimeter Searching</a></td>
        </tr>
        <tr>
            <th colspan="5">Job Application CRUD</th>
        </tr>
        <tr>
            <td colspan="3"><a href="/crud/form">CRUD using node <br>(Job Application)</a></td>
            <td colspan="2"><a href="/ajax_crud/ajax_form">CRUD using AJAX <br>(Job Application)</a></td>
        </tr>
    </table>
</body>
</html>

