<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            background-color: rgb(140, 166, 176);
        }

        

        h2::selection {
            background-color: rgb(182, 182, 215);
        }

        table {
            border: 2px solid black;
            border-collapse: collapse;
            margin: auto;
        }

        td {
            border: 2px solid black;
            text-align: center;
            padding: 10px;
            font-size: 15px;
        }

        th {
            border: 2px solid black;
            text-align: center;
            font-size: 18px;
        }

        a {
            font-size: 15px;
        }
        
         h2 {
            text-align: center;
            color: rgb(38, 30, 30);
            font-size: 30px;
            text-shadow: 2px 2px rgb(247, 233, 233);
            font-style: italic;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            position: relative;
        }
        h3{
            position: absolute;
            right: 0;
            top:0;
        }
    </style>
</head>

<body>
        <h2>Tasks</h2>
        <h3 style="float: right;"><a href="/logout">logout</a></h3>
    <div class="task">
        <table>
            <tr>
                <th>NO.</th>
                <th>Technology</th>
                <th>Name</th>
                <th>View</th>
            </tr>

            <tr>
                <td>1</td>
                <td rowspan="5">javascript</td>
                <td>Dynamic Box</td>
                <td><a href="/jstask/dynamic">dynamicbox</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Kukucube</td>
                <td><a href="/jstask/kukucube">Kukucube</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Tic-tac-toe</td>
                <td><a href="/jstask/tic">Tic-tac-toe</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Events</td>
                <td><a href="/jstask/events">Events</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Sorting</td>
                <td><a href="/jstask/sorting">Sorting</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td rowspan="4">Pagination</td>
                <td>Student_list with sorting</td>
                <td><a href="/pagination/student_list">list</a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>attendance report</td>
                <td><a href="/pagination/attendance_report">attendance</a></td>
            </tr>
            <tr>
                <td>8</td>
                <td>Exam_report</td>
                <td><a href="/pagination/exam_report">Exam_report</a></td>
            </tr>
            <tr>
                <td>9</td>
                <td>Dynamic grid</td>
                <td><a href="/pagination/dynamic_grid">Dynamic grid</a></td>
            </tr>
            <tr>
                <td>10</td>
                <td rowspan="2">searching</td>
                <td>Searching (id or any details)</td>
                <td><a href="/search/searching">Searching</a></td>
            </tr>
            <tr>
                <td>11</td>
                <td>Delimeter Searching</td>
                <td><a href="/search/delimeter_search">Delimeter Searching</a></td>
            </tr>
            <tr>
                <td>12</td>
                <td rowspan="2">CRUD</td>
                <td>CRUD using node (Job Application)</td>
                <td><a href="/crud/form">CRUD using node</a></td>
            </tr>
            <tr>
                <td>13</td>
                <td>CRUD using AJAX (Job Application)</td>
                <td><a href="/ajax_crud/ajax_form">CRUD using AJAX</a></td>
            </tr>
            <tr>
                <td>14</td>
                <td rowspan="2">AJAX</td>
                <td>Fetch API</td>
                <td><a href="/other/fetchdata">Fetch API</a></td>
            </tr>
            <tr>
                <td>15</td>
                <td>State_city combo(ajax)</td>
                <td><a href="/other/state_city">State_city combo(ajax)</a></td>
            </tr>
            <tr>
                <td>16</td>
                <td>timezone</td>
                <td>Timezone</td>
                <td colspan="1"><a href="/other/timezone">Timezone</a></td>
            </tr>
            <tr>
                <td>17</td>
                <td rowspan="3"></td>
                <td>Ehya</td>
                <td><a href="/jstask/ehya">ehya</a></td>

            </tr>
            <tr>
                <td>18</td>
                <td>Awan Hoster</td>
                <td></td>
            </tr>
            <tr>
                <td>19</td>
                <td>HireX.</td>
                <td></td>
            </tr>
        </table>
    </div>
</body>

</html>