<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: auto;
        }
        body{
            background-color: rgb(140, 166, 176);
        }
        .msg{
            text-align: center;
            background-color: rgb(33, 43, 45);
            color: white;
            width: 80%;
            height: 200px;
            margin-top: 50px;
        }
        h2{
            padding : 40px;
        }
        p{
            text-align: center;
            font-size: 15px;
            padding: 20px;
        }
        a{
            align-items: center;
            color: rgb(189, 234, 250);
        }
    </style>
</head>
<body>
    <div class="msg">
        <p>Click here to Update Password : <a href="/password?id=<%=result.id%>&accesskey=<%=result.access_key%>">http://localhost:9090/password?id=<%=result.id%>&accesskey=<%=result.access_key%>"</a></p>
    </div>
</body>
</html> 