<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
    <link rel="stylesheet" type="text/css" href="/login.css"> 
</head>

<body>
    <%if(min>30 || (accesskey !== result.access_key)){%>
        <p>Activation Link is expired or Invalid!!</p>
        <p>Click here to <a href="/generatetoken?accesskey=<%=result.access_key%>">Generate</a></p>
        <%}else{%>
            <form action="/password" method="post" id="form" style="margin-top: 70px;">
                <h3 style="padding: 30px 0;">Create Password</h3>
                <input type="hidden" value="<%=result.salt%>" name="salt">
                <input type="hidden" value="<%=result.id%>" name="id">
                <input type="hidden" value="<%=result.access_key%>" name="accesskey">

                <label for="password">Password</label><br>
                <input type="password" name="password" id="password"><br>
                <span id="passmsg"></span><br><br>

                <label for="retype_password">Retype_Password</label><br>
                <input type="password" name="retype_password" id="retype_password"><br>

                <span id="errmsg"></span><br><br>

                <input type="button" value="Create" onclick="validation()" style="margin-bottom: 30px;">
            </form>
            <div id="pass">

            </div>
            <%}%>
                <script>
                    async function createpassword() {
                        let formdata = document.getElementById("form");
                        let data = new FormData(formdata);
                        const params = new URLSearchParams(data);
                        const jobdata = await new Response(params).text();
                        console.log(typeof (jobdata));

                        let data2 = await fetch("http://localhost:9013/password", {
                            method: "POST",
                            headers: {
                                'Content-type': 'application/x-www-form-urlencoded'
                            },
                            body: jobdata
                        })
                        document.querySelector("#pass").innerHTML = `<p>Password created!</p> <p>Click here to <a href="/login" style="color: rgb(28, 28, 244);"> Login</a></p>`;

                        console.log(await data2.json());
                    }
                    function validation() {
                        valid = true;
                        password = document.getElementById("password").value;
                        retype_pass = document.getElementById("retype_password").value;

                        passmsg = document.getElementById("passmsg");
                        if (password == "") {
                            passmsg.innerHTML = "password must be fill";
                            valid = false;
                        } else if (password.length < 8) {
                            passmsg.innerHTML = "password must be length of 8";
                            valid = false;
                        } else if (!/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/.test(password)) {
                            passmsg.innerHTML = "Password Must be one Uppercase one Lowercase and one digit";
                            valid = false;
                        }

                        errmsg = document.getElementById("errmsg");
                        if (retype_pass == "") {
                            errmsg.innerHTML = "required!";
                            valid = false;
                        } else if (password !== retype_pass) {
                            errmsg.innerHTML = "password & retype-password not matched!";
                            valid = false;
                        }

                        valid && createpassword();
                    }


                </script>
</body>

</html>